.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    border: 1px solid red;
    width: 10%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    height: 25px;
}

.timer {
    border: 1px solid green;
    width: 10%;
    display: flex;
    justify-content: center;
    margin: 25px;
}

.button:hover {
    cursor: pointer;
}

.slideBoard {
    border: 2px solid red;
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    border: 1px solid blue;
    width: 32.98%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
}

.tile:hover {
    cursor: pointer;
}
